{% extends 'webinterface/base.html' %}

{% block title %}Ruehrstaat Webinterface{% endblock %}

{% block page_title %}
    <!-- center div -->
    <div class="container text-center">
        <h1>Ruehrstaat Webinterface </h1>
        <h2>Welcome {{user.username}}!</h5>
    </div>
{% endblock %}

{% block content %}
    <br>
    <div class="container">
        <!-- list all carriers in carriers table -->
        <div class="row">
            <div class="col">
                <h3>Carriers</h3>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">ID</th>
                            <th scope="col">Current Location</th>
                            <th scope="col">Previous Location</th>
                            <th scope="col">Services</th>
                            <th scope="col">dockingAccess</th>
                            <th scope="col">Category</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for carrier in carriers %}
                        <tr>
                            <th scope="row">{{carrier.name}}</th>
                            <td>{{carrier.id}}</td>
                            <td>{{carrier.currentLocation}}</td>
                            <td>{{carrier.previousLocation}}</td>
                            <td><!-- got through carrier.services.all table and list names comma seperated-->
                                {% for service in carrier.services.all %}
                                    {{service.name}}{% if not forloop.last %}, {% endif %}
                                {% endfor %}
                            </td>
                            <td>{{carrier.dockingAccess}}</td>
                            <td>{{carrier.category}}</td>
                            <td>
                                <a href="/seeCarrier/{{carrier.id}}" class="btn btn-primary">View</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
    </div>
{% endblock %}

