{% extends 'backend/base.html' %} 
{% block title %} Account {% endblock %} 
{%block content %} 
{% load static %}
<div class="container py-5">
  <div class="row justify-content-center">
    <div class="col-md-10">
      <h2 class="mb-4">Account Details</h2>
      <table class="table">
        <tbody>
          <tr>
            <th scope="row">Name:</th>
            <td>{{ user.first_name }} {{ user.last_name }}</td>
            <td><a href="/auth/account/change_name" class="btn btn-sm btn-primary">Change Name</a></td>
          </tr>
          <tr>
            <th scope="row">Email:</th>
            <td>{{ user.email }}</td>
            <td><a href="/auth/account/change_email" class="btn btn-sm btn-primary">Change Email</a></td>
          </tr>
          <tr>
            <th scope="row">Carrier Management Allowed:</th>
            <td>{% if user.carrier_management_allowed %}Yes{% else %}No{% endif %}</td>
            <td></td>
          </tr>
          <tr>
            <th scope="row">Linked Discord Account:</th>
            <td>
              {% if user.discord_data %}
                {{ user.discord_data.discord_tag }}
              {% else %}
                Not Connected
              {% endif %}
            </td>
            <td>
              {% if user.discord_data %}
                <a href="/auth/account/discord/unlink" onclick="return confirm('Are you sure you want to unlink your Discord account?')" class="btn btn-sm btn-danger">Unlink</a>
              {% else %}
                <a href="/auth/account/discord/link" class="btn btn-sm btn-primary">Link</a>
              {% endif %}
            </td>
          </tr>
          <tr>
            <th scope="row">Linked Frontier Accounts:</th>
            <td colspan="2">
              {% if user.frontier_accounts.count > 0 %}
                <ul>
                  {% for account in user.frontier_accounts.all %}
                    <li>{{ account }}</li>
                  {% endfor %}
                </ul>
                <a href="/auth/account/unlink_frontier" onclick="return confirm('Are you sure you want to unlink your Frontier account?')" class="btn btn-sm btn-danger">Unlink Account</a>
              {% else %}
                No Linked Accounts
              {% endif %}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}
