{% extends 'embeds/base.html' %}

{% block title %}Carrier Info{% endblock %}

{% block page_title %}
    <h1>Carrier {{carrier.name}}</h1>
{% endblock %}

{% block content %}
    <br>
    <div class="container">
        <h3>Carrier: {{carrier.name}} {{carrier.callsign}}</h3>
        <h4>Carrier Info</h4>
        <table class="table table-dark">
            
            <tbody>
                <tr>
                    <th scope="row">Current Location</th>
                    <td>{{carrier.currentLocation}}</td>
                </tr>
                <tr>
                    <th scope="row">Docking Access</th>
                    <td>{{carrier.dockingAccess}}</td>
                </tr>
                <tr>
                    <th scope="row">Carrier Owner</th>
                    <td>{{carrier.owner}}</td>
                </tr>
            </tbody>
        </table>
        <h4>Carrier Services</h4>
        All not listed services are unavailable.
        <table class="table table-dark">
            <thead>
                <tr>
                    <th scope="col">Service</th>
                    <th scope="col">Description</th>
                </tr>
            </thead>
            <tbody>
                {% for service in carrier.services %}
                    <tr>
                        <th scope="row">{{service.label}}</th>
                        <td>{{service.description}}</td>
                    </tr>
                {% endfor %}
            </tbody>
    </div>
{% endblock %}

